*{
    margin: 0;
    padding:0;

}


.header{
    background-color: #1877f2;
    display:flex;
    justify-content: space-between;
align-items: center;
}
.header nav {margin-right: 30px;}
.header img {
    width: 75px;
    border-radius: 80%;
}
.header nav ul li{
    margin-left: 10px;
    background-color: white;
    padding:3px;
    border-radius: 7%;
}

.header nav ul {
    display: flex;
    list-style-type:none ;
}

.header nav ul li a{
color: #1877f2;
text-decoration: none;
}

h1{font-weight: 300;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

h1 span{
    font-weight: bold;
    color:#1877f2;
}

.cours_section{
    background-color: #1877f2;
}

.cours_section h2 {
    padding:5px;
    color: white;
    text-align: center;
    margin-bottom: 2%;
    text-decoration: underline;
}

.all-cours {
padding: 10px;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}

 .cours {

    padding: 10px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    width: 30%;
    flex-direction: column;align-items: center;justify-content: center;
}

.cours img{
    width: 50%;
}

.cours h3 {
    text-align: center;
    text-decoration: underline;
    color: #1877f2;
    margin-bottom: 5px;
    margin-top: 10px;
}

.cours p{
    margin-bottom: 5px;
}
.item-cours{
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    }

.item-cours button {
    background-color: #1877f2;
    width: 200px;
    color: white;
     border-color: white;
     margin-top: 3%;
    border-radius:5px;
}   


.item-cours a{
text-decoration: none;
    color: white;
    font-size:20px;
}

.item-cours button:hover{
        background-color: white;
        border-color: #1877f2;
    }
    .item-cours a:hover{
            cursor: pointer;
            color: #1877f2;
            font-size:20px;
        }


        .trait-horizontal {
            margin-bottom: 20px;
            margin-left: 20px;
            width: 80%;
            margin-top: 5px;
        }
        
        .trait-horizontal hr {
            border: none; /* supprimer le bord par défaut du trait */
            border-top: 1px solid #333; /* épaisseur et couleur du trait */
            width: 90%; /* longueur du trait */
        }
        
        .trait-horizontal h2 {
            margin: 10px 0; /* espace autour du titre */
        }    
        
        .div_cours{
            border-radius: 15px;
           width: 80%;
            height: 100px;
            background-image: url(../img/working_picture.jpg);
            background-size: cover; /* Pour redimensionner l'image pour remplir complètement le conteneur */
            background-position: center;
            margin-top: 10px;
            display: flex;
            align-items: center;
        }

        .top-page{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

        }

        .div_cours h4{
        background-color: rgba(0, 0, 0, 0.5);
            border-radius: 8px;                
            font-size: 15px;
            height: 20px;
            width: 77px;            
            margin-left: 10px;
            color: white;
            text-align: center;
        }

